<!DOCTYPE html>
{% extends "advising_portal/base.html" %}
{#{% load crispy_forms_tags %}#}
{% block content %}
<body>
    <div class="main-wrapper">
        <div class="contact-page-wrap">
            <div class="sign-in-wrap">
                <div class="sign-in-upper-section clear">
                    <figure>

                        <img src="/home/zishraq/PycharmProjects/university/django_project/users/images/index.jpeg">
                    </figure>
                    <div>
                        <label class="text-center mb5" style="color:green;margin:0px 0px 0px 0px;">1. If your login ID is activated sign in to your account</label>

                        <label class="text-center mb5" style="color:green;margin:0px 10px 0px 0px;">2. If your login ID is not activated please activate your login ID first</label>
                    </div>
                    <div class="loginForm">
                        <h3 class="align-center">Sign in to your Account</h3>
                        <form id="loginform" method="post" name="myForm" onsubmit="return loginclick()">
                            <div class="form-group">

                                <input type="text" placeholder="Student ID" class="form-control txtField" id="username" name="Username" style="font-size:18px!important;">
                            </div>
                            <div class="form-group">

                                <input type="password" placeholder="Password" class="form-control txtField" id="pass" name="Password" style="font-size:18px!important;">

                            </div>

                            <div class="input-group mb15">

                                <label id="lblFirstNo" style="margin:0px 0px 0px 0px;font-size:large;font-weight: bold;" class="form-inline col-lg-1 col-md-1 col-sm-1">1</label>
                                <label id="lblplus" style="margin:0px 0px 0px 0px;font-size:large;font-weight: bold;" class="form-inline col-lg-1 col-md-1 col-sm-1"> + </label>
                                <label id="lblSecondNo" style="margin:0px 0px 0px 0px;font-size:large;font-weight: bold;" class="form-inline col-lg-2 col-md-2 col-sm-2">11</label>
                                <label id="lblequal" style="margin:0px 0px 0px 0px;font-size:large;font-weight: bold;" class="form-inline col-lg-2 col-md-2 col-sm-2">= ? </label>
                                <input id="lblcaptchaAnswer" name="Answer" type="text" class="form-inline col-lg-2 col-md-2 col-sm-2" style="margin:-3px 0px 0px 0px;font-size:large;font-weight: bold;" value="">

                                <input type="hidden" name="FirstNo" value="1">
                                <input type="hidden" name="SecondNo" value="11">

                            </div>

                            <button type="button" id="btnToggle" class="toggle">
                                <i style="font-size:18px;" id="eyeIcon" onclick="showPassword()" class="fa fa-eye"></i>
                            </button>

                            <div class="form-group txtF-error">
                                <span class="error" style="font-size:large;font-weight: bold;"></span>
                            </div>

                            <div class="form-group align-right" style=" margin-top: -30px; ">

                                <div class="checkbox">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                                <button type="submit" id="submit" runat="server" class="btn btn-default customBtn blueBg">Sign in</button>

                            </div>
                            <a style="width: 100% !important;margin-bottom:10px;" href="/ResetPassword/ResetPassword" class="btn btn-primary">Forgot your password? Reset it Now</a>
                            <div class="panel-footer" style="background-color:white!important;">
                                <center><a style="width:95%;background:red;font-size:20px;text-align:center;" href="/Registration/Registration" class="btn btn-primary">Activate Your ID First</a></center>

                            </div>


                            <div class="form-group ">
                                <span><a class="btn btn-lg btn-info btn-block" href="https://faportal.ewubd.edu/Account/Login"> <i class="fa fa-share-square"></i>Admin &amp; Faculty Panel</a></span>
                            </div>

                        </form>
                    </div>
                </div>



            </div>

        </div>
    </div>
    <!--// End main-wrapper -->
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/Assets/plugins/jquery/jquery.min.js"></script>
    <script src="http://localhost:50579/Assets/js/jquery.min.js"></script>
    <script src="/Assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/Assets/plugins/bundlealt/bundlealt.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script type="text/javascript">

        function loginclick() {


            var usernameValue = document.forms["myForm"]["Username"].value;
            var passwordValue = document.forms["myForm"]["Password"].value;
            var answerValue = document.forms["myForm"]["Answer"].value;

            if (usernameValue == '' || passwordValue == '' || answerValue == '') {

                alert('Please Fill All field properly');
                return false;
            }

            return true;
        };


        function validate_int(myEvento) {
            if ((myEvento.charCode >= 48 && myEvento.charCode <= 57) || myEvento.keyCode == 9 || myEvento.keyCode == 10 || myEvento.keyCode == 13 || myEvento.keyCode == 8 || myEvento.keyCode == 116 || myEvento.keyCode == 46 || (myEvento.keyCode <= 40 && myEvento.keyCode >= 37)) {
                dato = true;
            } else {
                dato = false;
            }
            return dato;
        }

        function studentId_mask() {
            var myMask = "____-_-__-___";
            var myCaja = document.getElementById("username");
            var myText = "";
            var myNumbers = [];
            var myOutPut = ""
            var theLastPos = 1;
            myText = myCaja.value;
            //get numbers
            for (var i = 0; i < myText.length; i++) {
                if (!isNaN(myText.charAt(i)) && myText.charAt(i) != " ") {
                    myNumbers.push(myText.charAt(i));
                }
            }
            //write over mask
            for (var j = 0; j < myMask.length; j++) {
                if (myMask.charAt(j) == "_") { //replace "_" by a number
                    if (myNumbers.length == 0)
                        myOutPut = myOutPut + myMask.charAt(j);
                    else {
                        myOutPut = myOutPut + myNumbers.shift();
                        theLastPos = j + 1; //set caret position
                    }
                } else {
                    myOutPut = myOutPut + myMask.charAt(j);
                }
            }
            document.getElementById("username").value = myOutPut;
            document.getElementById("username").setSelectionRange(theLastPos, theLastPos);
        }

        document.getElementById("username").onkeypress = validate_int;
        document.getElementById("username").onkeyup = studentId_mask;
        function showPassword() {
            var x = document.getElementById("pass");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>


</body>
{% endblock content %}
