{% extends "advising_portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><strong>Course Details</strong></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>

    <div align="right">
        <a href="{% url 'student-panel-section-create' course_code %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i>Add Section</a>
    </div>

    <div class="table-responsive card shadow custom-left-table-align">
        <table id="myTable" class="table table-striped">
            <tbody>
            <tr>
                <th class="col-md-1"><b>Section No.</b></th>
                <th class="col-md-1"><b>Instructor Initials</b></th>
                <th class="col-md-1"><b>Instructor Full Name</b></th>
                <th class="col-md-1"><b>Capacity</b></th>
                <th class="col-md-1"><b>Timing</b></th>
                <th class="col-md-1"><b>Details</b></th>
            </tr>

            <tr>
                <td colspan="6" align="right">
                    <form
                            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group custom-search-align">
                            <input type="text" id="myInput" onkeyup="table_search(6)"
                                   class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>

            {% for section in sections %}

                <tr>
                    <td class="col-md-1">{{ section.section_no }}</td>
                    <td class="col-md-1">{{ section.instructor_initials }}</td>
                    <td class="col-md-1">{{ section.instructor_name }}</td>
                    <td class="col-md-1">{{ section.total_students }} / {{ section.section_capacity }}</td>
                    <td class="col-md-1">{{ section.formatted_routine }}</td>
                    <td class="col-md-1">
                        <button class="btn btn-outline-danger" type="submit" onclick="location.href='{% url 'student-panel-section-detail' section.section_id %}'">
                            Update
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
