{% extends "advising_portal/base.html" %}
{% block content %}
    {% for semester, value in courses_by_semesters.items %}
        <div class="container">
            <h2>{{ value.semester_name }}</h2>
            <table>
                <thead>
                <tr>
                    <th>Course</th>
{#                    <th style="padding-right: 100px;">Course Title</th>#}
                    <th>Course Title</th>
                    <th>cr</th>
                    <th>grd</th>
                    <th>gp</th>
                    <th>gpacr</th>
                <tr>
                </thead>

                <tbody>
                {% for course in value.courses %}
                    <tr>
                        <td>{{ course.course_code }}</td>
{#                        <td style="padding-right: 100px;">{{ course.course_title }}</td>#}
                        <td>{{ course.course_title }}</td>
                        <td>{{ course.course_credit }}</td>
                        <td>{{ course.grade }}</td>
                        <td>{{ course.total_gp }}</td>
                        <td>{{ course.grade_point }}</td>
                    </tr>
                {% endfor %}
                <tr>
{#                      <td colspan="3" style="border-top: 2px dotted;">CGPA: 3.21</td>#}
                  <td colspan="3" style="border-top: 2px solid;">CGPA: {{ cgpa }}</td>
                  <td colspan="3" style="border-top: 2px solid;">Term GPA: {{ value.term_gpa }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
    {% endfor %}
{% endblock content %}
