{% extends "advising_portal/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-7">
            <h2 class="sub-header">Offered Courses</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-1"><b>Course</b></td>
                            <td class="col-md-1"><b>Section</b></td>
                            <td class="col-md-1"><b>Timing</b></td>
                            <td class="col-md-1"><b>Credits</b></td>
                            <td class="col-md-1"><b>Department</b></td>
                            <td class="col-md-1"><b>Capacity</b></td>
                            <td class="col-md-1"><b>Select</b></td>
                        </tr>

                        {% for section in sections %}
                            <tr>
                                <td class="col-md-1">{{ section.course_id }}</td>
                                <td class="col-md-1">{{ section.section_no }}</td>
                                <td class="col-md-1"><small>{{ section.routine_id }}</small></td>
                                <td class="col-md-1">{{ section.credit }}</td>
                                <td class="col-md-1">{{ section.department_name }}</td>
                                <td class="col-md-1">{{ section.total_students }} / {{ section.section_capacity }}</td>
                                <td class="col-md-1">
                                    <button class="btn btn-outline-info" type="submit" onclick="location.href='{% url 'advising-portal-select-course' section.section_id %}'">
                                        Select
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-5">
            <h2 class="sub-header">Selected Courses</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td class="col-md-1"><b>Course</b></td>
                        <td class="col-md-2"><b>Section</b></td>
                        <td class="col-md-3"><b>Timing</b></td>
                        <td class="col-md-3"><b>Credits</b></td>
                        <td class="col-md-3"><b>Drop</b></td>
                    </tr>

                    {% for course in selected_courses %}
                        <tr>
                            <td class="col-md-1">{{ course.course_code }}</td>
                            <td class="col-md-1">{{ course.section_no }}</td>
                            <td class="col-md-1"><small>{{ course.routine }}</small></td>
                            <td class="col-md-1">{{ course.credits }}</td>
                            <td class="col-md-1">
                                <button class="btn btn-outline-danger" type="submit" onclick="location.href='{% url 'advising-portal-drop-course' course.section_id %}'">
                                    Drop
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
