{% extends "advising_portal/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-7">
            <h2 class="sub-header">Offered Courses</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td class="col-md-1">Course</td>
                            <td class="col-md-1">Section</td>
                            <td class="col-md-1">Timing</td>
                            <td class="col-md-1">Credits</td>
                            <td class="col-md-1">Department</td>
                            <td class="col-md-1">Capacity</td>
                            <td class="col-md-1">Select</td>
                        </tr>

                        {% for section in sections %}
                            <tr>
                                <td class="col-md-1">{{ section.course_id }}</td>
                                <td class="col-md-1">{{ section.section_no }}</td>
                                <td class="col-md-1">{{ section.routine_id }}</td>
                                <td class="col-md-1">{{ section.credit }}</td>
                                <td class="col-md-1">{{ section.department_name }}</td>
                                <td class="col-md-1">{{ section.total_students }} / {{ section.section_capacity }}</td>
                                <td class="col-md-1">
                                    <button class="btn btn-outline-info" type="submit">
                                        <a href="{% url 'advising-portal-select-course' section.section_id %}">Select</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-5">
            <h2 class="sub-header">Selected Courses</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td class="col-md-1">Course</td>
                        <td class="col-md-2">Section</td>
                        <td class="col-md-3">Routine</td>
                        <td class="col-md-3">Credits</td>
                        <td class="col-md-3">Drop Course</td>
                    </tr>

                    {% for course in selected_courses %}
                        <tr>
                            <td class="col-md-1">{{ course.course_code }}</td>
                            <td class="col-md-1">{{ course.section_no }}</td>
                            <td class="col-md-1">{{ course.routine }}</td>
                            <td class="col-md-1">{{ course.credits }}</td>
                            <td class="col-md-1">
                                <button class="btn btn-outline-info" type="submit">
                                    <a href="{% url 'advising-portal-drop-course' course.section_id %}">Drop</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
