{% extends "advising_portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {#    <div class="fix-width">#}
    {#        <button type="button" class="btn btn-outline-primary">Primary</button>#}
    {#        <button type="button" class="btn btn-outline-secondary">Secondary</button>#}
    {#    </div>#}
    <div class="row fix-width">
        <div class="col-7">
            <div class="btn-self-design">
                <button class="btn btn-outline-primary btn-fix-width" type="submit"
                        onclick="location.href='{% url 'advising-portal-home' %}?filter=recommended'">
                    Recommended
                </button>
                <button class="btn btn-outline-secondary btn-fix-width" type="submit"
                        onclick="location.href='{% url 'advising-portal-home' %}?filter=retakable'">
                    Retakable
                </button>
            </div>

            <div class="table-responsive left-table-align">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td class="col-md-1"><b>Course</b></td>
                        <td class="col-md-1"><b>Section</b></td>
                        <td class="col-md-1"><b>Timing</b></td>
                        <td class="col-md-1"><b>Credits</b></td>
                        <td class="col-md-1"><b>Department</b></td>
                        <td class="col-md-1"><b>Capacity</b></td>
                        <td class="col-md-1"><b>Select</b></td>
                    </tr>

                    {% for section in sections %}
                        <tr>
                            <td class="col-md-1">{{ section.course_id }}</td>
                            <td class="col-md-1">{{ section.section_no }}</td>
                            <td class="col-md-1"><small>{{ section.routine_id|linebreaks }}</small></td>
                            {#                                <td class="col-md-1"><small><pre>{{ section.routine_id }}</pre></small></td>#}
                            <td class="col-md-1">{{ section.credit }}</td>
                            <td class="col-md-1">{{ section.department_name }}</td>
                            <td class="col-md-1">{{ section.total_students }} / {{ section.section_capacity }}</td>
                            <td class="col-md-1">
                                {% if portal_type == 'section_request' or section.total_students == section.section_capacity %}
                                    <button class="btn btn-outline-info" type="submit" onclick="openForm()">
                                        Request
                                    </button>
                                {% else %}
                                    <button class="btn btn-outline-info" type="submit" onclick="location.href='{% url 'advising-portal-select-course' section.section_id %}'">
                                        Select
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-popup" id="myForm">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reason</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
{#                    <button class="btn btn-outline-info" type="submit" onclick="location.href='{% url 'advising-portal-make-section-request' section.section_id %}'">Submit</button>#}
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-5">
            <h2 class="sub-header">
                {% if portal_type == 'section_request' %}
                    Requested Sections
                {% else %}
                    Selected Courses
                {% endif %}
            </h2>

            <div class="table-responsive right-table-align">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td class="col-md-1"><b>Course</b></td>
                        <td class="col-md-2"><b>Section</b></td>
                        <td class="col-md-3"><b>Timing</b></td>
                        <td class="col-md-3"><b>Credits</b></td>
                        <td class="col-md-3"><b>Drop</b></td>
                    </tr>

                    {% for course in selected_courses %}
                        <tr>
                            <td class="col-md-1">{{ course.course_code }}</td>
                            <td class="col-md-1">{{ course.section_no }}</td>
                            <td class="col-md-1"><small>{{ course.routine|linebreaks }}</small></td>
                            {#                            <td class="col-md-1"><small><pre>{{ course.routine }}</pre></small></td>#}
                            <td class="col-md-1">{{ course.credits }}</td>
                            <td class="col-md-1">
                                <button class="btn btn-outline-danger" type="submit" onclick="location.href='{% url 'advising-portal-drop-course' course.section_id %}'">
                                    Drop
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

{% endblock content %}
